:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}

h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
  padding: 0;
}

img{
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  cursor: pointer;
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: 0;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.small-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-navy-blue);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.container{  
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
.hdr {
  border-bottom: 1px solid var(--color-cornflower);    
}

.hdr-container{
  height: 72px;
  display: flex;
}

nav{
  display: flex;
  align-items: center;
}

.nav-link{
  padding: 24px 0;
}

.nav-list{
  display: flex;
  gap: 40px; 
  margin-right: 320px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px;
}

.logo-studio {
  color: var(--color-navy-blue);
}

.address {
  font-style: normal;
  margin: auto;  
}

.address-list{
  display: flex;
  gap: 40px;
}


.nav-link,
.address-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--color-navy-blue);
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--color-ocean);
}

/* FOOTER */
.ftr {
  background-color: var(--color-navy-blue); 
  padding: 100px 0;
}

.ftr-txt {
  color: var(--color-cloud);
  max-width: 264px;
}

.logo-ftr{
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-ftr {
  color: var(--color-cloud);
}

/* HERO */
.hero {
  background-color: var(--color-navy-blue);
}

.hero-container{
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--color-white);
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn{
  margin: 0 auto;
}

/* FEATURE */
.feature{
  padding: 120px 0;
}

.feature-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.feature-list{
  display: flex;
  gap: 24px;
}

.feature-item{
  flex-basis: calc((100% - 3 * 24px) / 4 );
}

/* DOINGS */
.doings-list{
  display: flex;
  gap: 24px;
  margin: 0 auto 120px;
}

.doings-item{
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/* TEAM */
.team {
  background-color: var(--color-cloud);
  padding: 120px 0;
}

.team-list{
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 24px)/ 4 );
}

.team-item-desc{
  padding: 32px 0;
  text-align: center;
}

/* PORTFOLIO */
.our-works{
  padding: 96px 0 120px;
}

.filter{  
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  background: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  color: var(--color-iris);
}

.works-list{
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.work-tamplate {  
  width: calc((100% - 48px) / 3);
}

.work-desc{
  padding: 32px 16px;
  background: var(--color-white);
  border: 1px solid var(--color-cornflower);
  border-top: none;
}